<!DOCTYPE html>
<html ng-app='NarrowItDownController'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
    <div id="list" class="container" ng-controller='NarrowItDownController as list'>
        <h1>Narrow Down Your Chinese Menu Choice</h1>
        <div class="form-group">
            <input type="text" ng-model="list.searchTerm" placeholder="search term" class="form-control">
        </div>
        <div class="form-group narrow-button">
            <button ng-click="list.addItem()" class="btn btn-primary">Narrow It Down For Me!</button>
        </div>
        <p>
        <div ng-if="list.lastRemoved!=''" class="info">
            {{ list.lastRemoved }}
        </div>

        <!-- Bonus loader (see Bonus section of the assignment) -->
        <items-loader-indicator></items-loader-indicator>

        <!-- found-items should be implemented as a component -->
        <found-items
            items="list.items"
            title="{{list.title}}"
            on-remove="list.removeItem(index)"></found-items>
    </div>
  </body>
</html>
